.c-footer {
  color: siteColor(tgc-white);
  margin: 50px auto 10px;
  padding: siteSpacing(sl);

  &__meganav {
    display: inline-block;
    width: 100%;

    @include bpMinMedium {
      .c-footer-nav-list {
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          float: right;
          margin-right: 0;
        }
      }
    }
  }

  &__extra {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: siteSpacing(xl);

    @include bpMinSmall {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
    }

    span {
      @include type(reg-1);
      display: block;
      text-align: center;

      @include bpMinSmall {
        display: inline;

        &:after {
          content: ' | ';
        }

        &:last-child:after {
          content: none;
        }
      }
    }
  }

  &__affiliation {

    & svg {
      display: block;
      height: 36px;
      width: 210px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__affiliation-link {
    display: block;
    margin: siteSpacing(m) 0;
  }
}
