.c-footer {
  color: siteColor(tgc-white);
  margin: 50px auto 10px;
  padding: siteSpacing(sl);

  &__meganav {
    display: grid;
    grid-gap: 20px 10px;
    grid-template-columns: repeat(1, 1fr);

    @include bpMinExtraSmall() {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bpMinSmall() {
      grid-template-columns: repeat(3, 1fr);
    }

    @include bpMinMedium() {
      grid-template-columns: repeat(5, 1fr);

      & div:last-child {
        text-align: right;
      }
    }
  }

  &__extra {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: siteSpacing(xl);

    @include bpMinSmall {
      align-items: flex-end;
      flex-direction: row;
      justify-content: space-between;
    }

    span {
      @include type(reg-1);
      display: block;
      text-align: center;

      @include bpMinSmall {
        display: inline;

        &:first-child:after {
          content: ' | ';
        }
      }
    }
  }

  &__affiliation {
    text-align: right;
    & svg {
      display: block;
      height: 36px;
      margin: siteSpacing(m) 0;
      width: 210px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
