<footer class="c-footer site-container">

  <nav class="c-footer__meganav">
    {% for navitem in meganav %}
      {%- render "@footer-nav-list", navitem -%}
    {% endfor %}
  </nav>

  <div class="c-footer__extra">
    <div class="">
      <div>Address: <a href="https://goo.gl/maps/Xq9cFByg5TRhgkFWA">{{ address }}</a></div>
      <span>{{ copyline }}</span>
      <span>{{ charityline }}</span>
      <span><a href="#">Privacy Policy</a></span>
    </div>

    <div class="c-footer__affiliation">
      <a href="http://co-mission.org" class="c-footer__affiliation_link">
        <svg role="img" class="c-footer__affiliation__comisson">
          <use xlink:href="/assets/svg/svg-symbols.svg#comission-themed"></use>
        </svg>
      </a>
      <a href="http://fiec.org.uk" class="c-footer__affiliation-link">
        <svg role="img" class="c-footer__affiliation__fiec">
          <use xlink:href="/assets/svg/svg-symbols.svg#fiec-themed"></use>
        </svg>
      </a>
    </div>
  </div>

</footer>
