.c-content-box {
  margin-bottom: 20px;

  @include bpMinSmall {
    margin-bottom: 35px;
  }
}

.c-content-box__header {
  align-items: flex-end;
  display: flex;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  transition: font-size .2s, letter-spacing .2s, line-height .2s, height .2s;

  @include bpMinLarge {
    min-height: 450px;
  }

  &__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5) 25%);
    margin: 0 auto;
    max-width: 1300px;
    min-height: 70px;
    padding: 50px 20px 110px 20px;
    position: relative;
    width: 100%;
  }

  &__img {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2.5px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 1200px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 24px;
    margin: 0 auto;
    max-width: 1200px;
  }
}

.c-content-box__main {
  background-color: siteColor(tgc-white);
  border-radius: 2px;
  color: siteColor(tgc-black);
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;

  @include bpMinMedium {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  @include bpMinLarge {
    margin-bottom: 50px;
    padding: 40px;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 30px;
    text-transform: uppercase;

    @include bpMinLarge {
      font-size: 28px;
      letter-spacing: 3px;
    }
  }

  h2 {
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 20px;

    @include bpMinLarge {
      font-size: 24px;
      letter-spacing: 2.5px;
      line-height: 30px;
    }
  }

  &--text-focus {

    .c-content-box__main__container {
      margin: 0 auto;

      @include bpMinMedium {
        padding: 40px 40px 80px;
      }
    }

    p, li {
      font-size: 18px;
      margin: 0 auto 10px;
      max-width: 620px;
    }

    p:first-child {
      font-size: 20px;
      font-weight: bold;
      margin: 0 auto 20px;
      max-width: 780px;

      @include bpMinMedium {
        font-size: 24px;
        margin: 40px auto;
        text-align: justify;
      }
    }

    p:last-child {
      margin: 0 auto 10px;
    }

    ol {
      margin-left: 25px;
      @include bpMinSmall {
        padding-left: 75px;
      }
    }
  }


}

.c-content-box__aside {
  border-top: 1px solid siteColor(petrel);
  margin-top: 10px;
  padding-top: 10px;

  @include bpMinSmall {
    text-align: center;
  }

  @include bpMinMedium {
    border-left: 1px solid siteColor(sockeye);
    border-top: none;
    margin: 10px 0 10px 40px;
    padding: 10px 0 10px 40px;
    text-align: left;
  }
}

.c-banner+.site-container .c-content-box {
  margin-top: -20px;

  @include bpMinExtraSmall {
    margin-top: -45px;
  }

  @include bpMinSmall {
    margin-top: -75px;
  }
}

.c-content-box__header+.c-content-box__main {
  position: relative;
  top: -100px;
}
