.c-content-box {
  background-color: siteColor(tgc-white);
  border-radius: 2px;
  box-shadow: 4px 4px 3px 1px siteColor(tgc-black);
  color: siteColor(tgc-black);
  margin-bottom: 20px;
  padding: 20px;

  @include bpMinSmall {
    margin-bottom: 35px;
  }

  @include bpMinMedium {
    align-items: center;
    display: flex;
  }

  @include bpMinLarge {
    margin-bottom: 50px;
    padding: 40px;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 30px;
    text-transform: uppercase;

    @include bpMinLarge {
      font-size: 28px;
      letter-spacing: 3px;
    }
  }

  h2 {
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 20px;

    @include bpMinLarge {
      font-size: 24px;
      letter-spacing: 2.5px;
      line-height: 30px;
    }
  }

  .c-icon-list {
    border-top: 1px solid siteColor(petrel);
    margin-top: 10px;
    padding-top: 10px;

    @include bpMinMedium {
      border-left: 1px solid siteColor(sockeye);
      border-top: none;
      margin: 10px 0 10px 40px;
      padding: 10px 0 10px 40px;
    }
  }

}

.c-banner+.site-container .c-content-box {
  margin-top: -20px;

  @include bpMinExtraSmall {
    margin-top: -45px;
  }

  @include bpMinSmall {
    margin-top: -75px;
  }
}

