
<section class="c-content-box">

  {% if header %}
    <header class="c-content-box__header js-object-fit-container">
      <img src="{{ header.img[960] }}" srcset="{% for k,v in header.img %}{{ v }} {{ k }}w,{% endfor %}" alt="{{ header.title }}" class="c-content-box__header__img" />

      <div class="c-content-box__header__container">
        <h1 class="c-content-box__header__title">{{ header.title }}</h1>
        <h2 class="c-content-box__header__subtitle">{{ header.subtitle }}</h2>
      </div>
    </header>
  {% endif %}

  <main class="c-content-box__main{% if textFocus %} c-content-box__main--text-focus{% endif %}">

    <div class="c-content-box__main__container">
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}

      {% if subtitle %}
        <h2>{{ subtitle }}</h2>
      {% endif %}

      {% if bodyImg %}
        <div class="c-content-box__main__container__img-container js-object-fit-container">
          <img src="{{ bodyImg }}-960.jpg" alt="" />
        </div>
      {% endif %}

      {% for para in body %}
        <p>{{ para }}</p>
      {% endfor %}

      {% if link %}
        <a href="{{ link.href }}" class="u-link u-link--arrowed u-link--black">
          <svg role="img" class="">
            <use xlink:href="/assets/svg/svg-symbols.svg#{{ link.icon }}"></use>
          </svg>

          <span>{{ link.text }}</span>
        </a>
      {% endif %}
    </div>

    {% if hidden %}

      <div class="c-content-box__expandable js-content-box-expandable" data-label="More about people">

        {% for section in hidden.section %}

          {% if hidden.nav %}
            <div class="c-internal-nav c-internal-nav--content-box">
              <ul class="c-internal-nav__list">
                {% for item in hidden.section %}
                  <li class="c-internal-nav__item">
                    <a href="#" class="c-internal-nav__link{% if loop.first %} c-internal-nav__link--active{% endif %}">{{ item.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <section class="c-content-box__main__subsection">
            <h2>{{ section.title }}</h2>

            {% for line in section.body %}
              <p>{{ line }}</p>
            {% endfor %}
          </section>

        {% endfor %}

      </div>

    {% endif %}

    {% if aside %}
      <aside class="c-content-box__aside">
        {% if icons %}
          {%- render "@icon-list", iconList -%}
        {% endif %}

        {% if aside !== 1 %}
          {% for content in aside %}
            <div class="c-content-box__aside__meta">
              <p class="c-content-box__aside__meta__title">{{ content.title }}</p>
              <p class="c-content-box__aside__meta__subtitle">{{ content.subtitle }}</p>
              <p class="c-content-box__aside__meta__small">{{ content.small }}</p>
            </div>
          {% endfor %}
        {% endif %}

        {% if map %}
          {%- render "@map" -%}
        {% endif %}

        {% if actionBtn %}
          <a href="#" class="u-btn u-btn--dark">{{ actionBtn }}</a>
        {% endif %}
      </aside>
    {% endif %}
  </main>
</section>
