.c-description-box {
  color: siteColor(tgc-white);
  margin-bottom: 20px;

  @each $color in map-keys($theme-colors) {
    &--#{$color} {
      background-color: themeColor($color);

      @if $color == sockeye {
        a:hover {
          color: siteColor(tgc-black);
        }
      }

      .c-description-box__inner {
        background-color: desaturate(lighten(themeColor($color), 5), 15);
        padding: 0;
      }

    }

  }

  @include bpMinSmall {
    margin-bottom: 40px;
  }
}

.c-description-box__inner {
  display: flex;
  flex-direction: column;

  @include bpMinSmall {
    flex-direction: row;

    .c-description-box--flipped & {
      flex-direction: row-reverse;
    }
  }
}

.c-description-box__side {
  flex: 0 0 auto;
  min-height: 175px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include bpMaxSmall {
    .img-square {
      margin: 0 auto;
      max-width: 250px;
      padding-bottom: 250px;
    }
  }

  @include bpMinExtraSmall {
    min-height: 250px;
  }

  @include bpMinSmall {
    min-height: 600px;
    width: 33%;
  }
}

.c-description-box__side__meta {
  margin: 10px 0;
  text-align: center;

  p:first-child {
    font-weight: bold;
  }
}

.c-description-box__img {
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-description-box__content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  line-height: 26px;
  padding: 20px;

  @include bpMinSmall {
    font-size: 24px;
    line-height: 44px;
    padding: 40px;
  }
}

.c-description-box__title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 32px;
  margin-bottom: 10px;
  text-transform: uppercase;

  @include bpMinSmall {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 20px;
  }
}
