<section class="c-description-box{% if theme %} c-description-box--{{ theme }}{% endif %}{% if flip %} c-description-box--flipped{% endif %}">

  <div class="site-container c-description-box__inner">

    <div class="c-description-box__side">
      {% if series %}
      <div class="img-container img-container--{{ series.imgVariant }} js-object-fit-container">
        <img src="{{ img[960] }}"
             srcset="{% for k,v in img %}{{ v }} {{ k }}w,{% endfor %}"
             sizes="(min-width: 768px) 33.3vw, 100vw"
             alt="{{ title }}" />
      </div>

      <div class="c-description-box__side__meta">
        {% for m in series.meta %}
          <p>{{ m }}</p>
        {% endfor %}
      </div>
      {% else %}
      <img src="{{ img[960] }}" srcset="{% for k,v in img %}{{ v }} {{ k }}w,{% endfor %}" alt="{{ title }}" class="c-description-box__img" />
      {% endif %}
    </div>

    <div class="c-description-box__content">
      <h1 class="c-description-box__title">
        {{title}}
      </h1>

      {% for p in body %}
        <p>{{ p }}</p>
      {% endfor %}

      {% if series.list %}
        {%- render "@sermon-list" -%}
      {% endif %}
    </div>

  </div>

</section>
