.u-btn {
  @include type(linkCaps);
  appearance: none;
  background: transparent;
  border: 2px solid siteColor(tgc-white);;
  border-radius: 2px;
  color: siteColor(tgc-white);
  cursor: pointer;
  display: block;
  margin: 10px 0;
  outline: 0;
  padding: 10px 10px 5px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: border .2s, color .2s, background-color .2s;

  @include bpMinSmall {
    display: inline-block;
  }

  &:hover {
    border-color: lighten(siteColor(sockeye), 30);
  }

  &--dark {
    border-color: siteColor(tgc-black);
    color: siteColor(tgc-black);

    &:hover {
      border-color: siteColor(sockeye);
    }
  }

  &--arrowed {
    padding-right: 25px;
    position: relative;

    &::after {
      border: 4px solid transparent;
      border-left-color: currentColor;
      content: '';
      display: inline-block;
      margin-top: -5px;
      position: absolute;
      right: 7px;
      top: 50%;
      transition: right .2s;
    }

    &:hover {
      &::after {
        right: 5px;
      }
    }
  }

  &--block {
    display: block;

    &:hover {
      background-color: siteColor(tgc-white);
      border-color: siteColor(sockeye);
    }
  }

  &--centred {
    display: table;
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
  }
}
