<!DOCTYPE html>

<html lang="en-gb" dir="ltr" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>The Globe Church</title>

    <link rel="stylesheet" href="{{ '/assets/styles/globe_styles.css' | path }}" />
    <link rel="stylesheet" href="{{ '/assets/styles/preview.css' | path }}" />

    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=Element.prototype.classList,es6,Element.prototype.dataset,Array.prototype.forEach"></script>
  </head>

  <body style="padding-top: 10px;">

    <section class="c-content-box">
      <main class="c-content-box__main c-content-box__main--text-focus">
        <div class="c-content-box__main__container">

          <p>We are seriously excited about Jesus. His extraordinary life has changed the course of human history.</p>
          <p>In the Bible we find that in the <i>beginning</i>, we were created by God to enjoy life <b>forever</b> with him. But we chose to go it alone. We turned our backs and acted as if we were king.</p>

          {{ yield | safe }}

          <p>Jesus is our champion. We want to know him better, so we read his Word, the Bible. We want to follow him.</p>
          <p>Jesus changes our story. If you have ever wondered about life and what it all means, then come and hear how Jesus makes sense of your story.</p>

        </div>
      </main>
    </section>

    <script src="{{ '/assets/js/bundle.js' | path }}" async></script>
  </body>
</html>
