<form class="c-form">
  <div class="c-form__field">
    <label class="c-form__label">
      Label
    </label>
    <input type="text" class="c-form__input" />
  </div>

  <div class="c-form__field">
    <label class="c-form__label">
      Label
    </label>
    <ul class="c-form__inputlist">
      <li>
        <input type="radio" value="1" name="radio" id="radio1">
        <label for="radio1" class="c-form__list-label">One</label>
      </li>
      <li>
        <input type="radio" value="2" name="radio" id="radio2">
        <label for="radio2" class="c-form__list-label">Two</label>
      </li>
    </ul>
  </div>

  <div class="c-form__field">
    <label class="c-form__label">
      Label
    </label>
    <ul class="c-form__inputlist">
      <li>
        <input type="checkbox" value="1" name="check" id="check1">
        <label for="check1" class="c-form__list-label">One</label>
      </li>
      <li>
        <input type="checkbox" value="2" name="radio" id="check2">
        <label for="check2" class="c-form__list-label">Two</label>
      </li>
    </ul>
  </div>
</form>
