.c-map {
  position: relative;
  clear: both;
  width: 100%;

  &__map {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    display: flex;
  }

  &__link {
    @include type(linkCaps);
    color: siteColor(sockeye);
    display: block;
    margin: 10px 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mapboxgl-control-container {
  display: none;
}
