<section class="{{ className }} {% for v in variant %}{{ className }}--{{ v }}{% endfor %} js-object-fit-container">
  {% if video %}
  <iframe class="c-banner__img" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% else %}
  <img src="{{ img[960] }}" srcset="{% for k,v in img %}{{ v }} {{ k }}w,{% endfor %}" alt="{{ title }}" class="{{ className }}__img" />
  {% endif %}

  {% if video == undefined %}
  <div class="{{ className }}__text">
    <div class="site-container">

      {% if pretitle %}
        <p class="{{ className }}__pretitle">{{ pretitle }}</p>
      {% endif %}

      {% if title %}
        <h1 class="{{ className }}__title">{{ title }}</h1>
      {% endif %}

      {% if subtitle %}
        <h2 class="{{ className }}__subtitle">{{ subtitle }}</h2>
      {% endif %}

      {% if scriptureReference %}
        <p class="{{ className }}__reference">
          <svg role="img" class="{{ className }}__reference__icon">
            <use xlink:href="/assets/svg/svg-symbols.svg#bible"></use>
          </svg>
          <a href="https://www.biblegateway.com/passage/?search={{ scriptureReference }}&amp;version=NIVUK" class="u-link">
            <span>{{ scriptureReference }}</span>
          </a>
        </p>
      {% endif %}
    </div>
  </div>
  {% endif %}
</section>
