<section class="{{ className }}">
  <img src="{{ img[960] }}" srcset="{% for k,v in img %}{{ v }} {{ k }}w,{% endfor %}" alt="{{ title }}" class="{{ className }}__img" />
  <div class="{{ className }}__text">
    <div class="site-container">

      {% if pretitle %}
        <p class="{{ className }}__pretitle">{{ pretitle }}</p>
      {% endif %}

      {% if title %}
        <h1 class="{{ className }}__title">{{ title }}</h1>
      {% endif %}

      {% if subtitle %}
        <h2 class="{{ className }}__subtitle">{{ subtitle }}</h2>
      {% endif %}
    </div>
  </div>
</section>
