.c-footer-nav-list {
  margin: 0 siteSpacing(l) siteSpacing(m) 0;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    @include type(smallerTitle);
  }

  &__items {
    @include type(reg-2);
    @include unstyledList;
    margin-left: siteSpacing(s);

  }

  &__item a {
    display: inline-block;
    transition: padding .2s;

    &:hover {
      padding-left: siteSpacing(xs);
    }
  }
}
