.c-footer-nav-list {
  display: inline-block;
  margin: 1em .5em;
  min-width: 100px;
  text-align: left;
  vertical-align: top;

  &__title {
    @include type(smallerTitle);
  }

  &__items {
    @include type(reg-2);
    @include unstyledList;
    margin-left: siteSpacing(s);

  }

  &__item a {
    display: inline-block;
    text-decoration: none;
    transition: padding .2s;

    &:hover {
      padding-left: siteSpacing(xs);
    }
  }
}
