.img-square {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;

  img {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
