.c-series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  @include bpMinSmall {
    margin-bottom: 35px;
  }

  &__item {
    display: block;
    width: 48%;
    padding-bottom: 20px;
    text-align: center;

    @include bpMinSmall {
      width: 31%;
    }

    @include bpMinMedium {
      width: 24%;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    border-radius: 2px;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      transition: all .2s;
      transition-timing-function: cubic-bezier(.40, 0, 1, 1);
      width: 100%;
    }
  }

  &__title {
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 100%;
  }

  &__daterange {
    font-size: 14px;
  }
}
