.u-link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 5px;
  padding: 10px 25px 5px 0;
  position: relative;
  text-transform: uppercase;

  @include bpMinLarge {
    font-size: 18px;
    margin-top: 10px;
  }

  span {
    border-bottom: 1px solid siteColor(tgc-white);
  }

  &--arrowed {
    &::after {
      border: 4px solid transparent;
      border-left-color: siteColor(tgc-white);
      content: '';
      display: inline-block;
      margin-top: -5px;
      position: absolute;
      right: 7px;
      top: 50%;
      transition: right .2s;
    }

    &:hover {
      &::after {
        border-left-color: siteColor(sockeye);
        right: 5px;
      }
    }
  }

  &--black {
    color: siteColor(tgc-black);

    span {
      border-bottom-color: siteColor(tgc-black);
    }

    &.u-link--arrowed {
      &::after {
        border-left-color: siteColor(tgc-black);
      }

      &:hover {
        &::after {
          border-left-color: siteColor(sockeye);
        }
      }
    }
  }
}
