$maxHeight: 650px;

.vision-box {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: $maxHeight;
  margin-bottom: 20px;
  overflow: hidden;
  transition: height 1s;
  width: 100%;

  @include bpMinLarge {
    margin-bottom: 50px;
    margin-left: -5%;
    width: 110%;
  }

  &__img {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__boxouter {
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 33.33%;
  }

  &__item {
    color: white;
    cursor: pointer;
    height: $maxHeight;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: width 1s, height 1s, opacity .3s, padding-top 1s;
    z-index: 0;

    &--jesus {
      background: linear-gradient(to bottom, rgba(siteColor(petrel), .7) 0, rgba(siteColor(petrel), .7) 60%, rgba(0, 0, 0, .65) 100%);
      background-size: cover;

      &:hover {
        background: linear-gradient(to bottom, rgba(siteColor(petrel), .9) 0, rgba(siteColor(petrel), .9) 60%, rgba(0, 0, 0, .65) 100%);
        background-size: cover;
        opacity: .9;

        strong {
          background-color: white;
          border-color: #404052;
          color: #404052;
        }
      }
    }

    &--people {
      background: linear-gradient(to bottom, rgba(siteColor(gold-braid), .7) 0, rgba(siteColor(gold-braid), .7) 60%, rgba(0, 0, 0, .65) 100%);
      background-size: cover;

      &:hover {
        background: linear-gradient(to bottom, rgba(siteColor(gold-braid), .9) 0, rgba(siteColor(gold-braid), .9) 60%, rgba(0, 0, 0, .65) 100%);
        background-size: cover;
        opacity: .9;

        strong {
          background-color: white;
          border-color: #c7b04a;
          color: #c7b04a;
        }
      }
    }

    &--mission {
      background: linear-gradient(to bottom, rgba(siteColor(lark-green), .7) 0, rgba(siteColor(lark-green), .7) 60%, rgba(0, 0, 0, .65) 100%);
      background-size: cover;

      &:hover {
        background: linear-gradient(to bottom, rgba(siteColor(lark-green), .9) 0, rgba(siteColor(lark-green), .9) 60%, rgba(0, 0, 0, .65) 100%);
        background-size: cover;
        opacity: .9;

        strong {
          background-color: white;
          border-color: #87c3a6;
          color: #87c3a6;
        }
      }
    }

    &__link {
      color: white;
      display: inherit;
      opacity: 1;
      padding: 10px;
      position: absolute;
      text-decoration: none;
      transition: opacity .5s;
      width: 100%;
    }

    &__title {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      font-size: 2em;
      height: $maxHeight;
      justify-content: center;
      letter-spacing: 3px;
      line-height: 150%;
      margin: 0 auto;
      max-width: 220px;
      opacity: 1;
      position: relative;
      text-transform: uppercase;
      transition: height 1s;

      strong {
        border: 2px solid white;
        clear: both;
        display: table;
        line-height: 1em;
        margin: 0 auto;
        padding: 6px 15px 2px;
        transition: color .1s, border .1s;
      }
    }
  }

}
