.c-header {
  align-items: center;
  background-color: rgba(siteColor(tgc-white), .9);
  box-shadow: 0 0 20px 5px siteColor(petrel);
  display: flex;
  height: 50px;
  justify-content: center;
  padding: siteSpacing(xs);
  position: relative;
  transition: height .2s;
  width: 100%;
  z-index: 3;

  .nav-open & {
    position: fixed;
    top: 0;
  }

  @include bpMinExtraSmall() {
    height: 75px;
    justify-content: space-between;
    padding: siteSpacing(m);
  }

  @include bpMinSmall() {
    position: fixed;
    top: 0;
  }

  &__logo-link {
    display: inherit;
  }

  &__logo {
    max-height: 100px;
    transition: max-height .2s;

    @include bpMinSmall() {
      max-height: 160px;
    }
  }

  &__title {
    @include visuallyHidden;
  }

  &__btn-menu {
    color: siteColor(tgc-black);

    @include bpMaxExtraSmall() {
      background: siteColor(lark-green);
      border: none;
      border-radius: 50%;
      bottom: 19px;
      box-shadow: 0 0 5px 2px darken(siteColor(lark-green), 30);
      height: 44px;
      position: fixed;
      right: 15px;
      transition: box-shadow .2s;
      width: 44px;

      .nav-open & {
        background-color: siteColor(tgc-white);
        box-shadow: 0 0 5px 2px darken(siteColor(tgc-white), 30);
      }

      &:hover {
        box-shadow: 0 2px 20px 5px darken(siteColor(lark-green), 30);
      }
    }

    @include bpMinExtraSmall() {
      @include typeSetting(3, bold, uppercase);
      border: 1px solid siteColor(tgc-black);
      border-radius: 2px;
      padding: 5px 10px 1px 5px;
    }

    &__text {
      @include bpMaxExtraSmall() {
        @include visuallyHidden();
      }
      font-weight: bold;
      text-transform: uppercase;
    }

    &__icon {
      @include bpMaxExtraSmall() {
        height: 18px;
        margin: 13px;
        width: 18px;
      }

      display: inline-block;
      height: 16px;
      margin-left: 4px;
      position: relative;
      transform: rotate(0deg);
      transition: .3s ease-in-out;
      width: 16px;

      span {
        background-color: siteColor(tgc-black);
        display: block;
        height: 2px;
        left: 0;
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: .2s ease-in-out;
        width: 100%;

        &:nth-child(1) {
          top: 2px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 9px;
        }

        &:nth-child(4) {
          top: 16px;
        }
      }
    }

    &:hover {
      span span {
        background-color: siteColor(sockeye);

        @include bpMaxExtraSmall() {
          background-color: siteColor(tgc-white);

          .nav-open & {
            background-color: darken(siteColor(lark-green), 10);
          }
        }
      }
    }

    .nav-open & {
      span span {

        &:nth-child(1),
        &:nth-child(4) {
          left: 50%;
          top: 9px;
          width: 0%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
