<header class="{{ className }}">

  <svg role="img" class="{{ className }}__logo">
    <use xlink:href="/assets/svg/svg-symbols.svg#tgc-logo-long"></use>
  </svg>

  <h1 class="{{ className }}__title">
    The Globe Church
  </h1>

  <a href="#" role="button" class="{{ className }}__btn-menu js-navToggle">
    <span class="{{ className }}__btn-menu__text">Menu</span>
    <span class="{{ className }}__btn-menu__icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>

</header>
