$site-colors: (
  tgc-black: #12131a,
  tgc-white: #fff,
  danger-red: #780824,
);

$theme-colors: (
  sockeye: #d06348,
  petrel: #282938,
  gold-braid: #c6ae40,
  lark-green: #83c3a5
);

@function siteColor($c) {
  @return map-get(map-merge($site-colors, $theme-colors), $c);
}

@function themeColor($c) {
  @return map-get($theme-colors, $c);
}
