

<figure class="st-image{% for m in modifiers%} st-image--{{ m }}{% endfor %}">
  <img src="{{ src }}" alt="{{ caption }}" />
  <figcaption class="st-image__caption">
    {{ caption }}
  </figcaption>
</figure>

<p>While I have doorposts, I know that my landlord wouldn’t be too happy if I was to carve scripture into them. So I started thinking about some of the other doorposts and gates that I have…</p>
<p>A couple of years ago Austin Kleon, author of Steal Like an Artist, decided that he wanted to read more books. His phone was a distraction from reading. The solution he found was to change the lock screen image on his phone. Rather that a landscape photo which drew him in, instead he made graphic which said read a book instead. Every time he picked up the phone, the phone pointed him to a book.</p>
