@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i');

$font-family: (
  text: ('Josefin Sans', sans-serif)
);

$font-weight: (
  // light: 300,
  regular: 400,
  // semi-bold: 600,
  bold: 700
);

$base-font-size: 18;
$base-letter-spacing: 0;
$base-font-weight: 'regular';

@function fontFamily($type: text) {
  @return map-get($font-family, $type);
}

@function fontWeight($type: $base-font-weight) {
  @return map-get($font-weight, $type);
}

@mixin fontSize($sizeValue: 18) {
  font-size: $sizeValue + px; // Old browser fallback
  font-size: ($sizeValue / 18) + rem; // Base fontsize is 16px
}

@mixin lineHeight($heightValue: 18, $t: 0) {
  line-height: $heightValue + px; // Old browser fallback
  line-height: ($heightValue / 18) + rem;
}

@mixin letterSpacing($size: $base-font-size) {
  letter-spacing: $size + px;
  letter-spacing: ($size / 18) + rem;
}


@mixin type($variant: 'body') {
  $size: 18;
  $line: 24;
  $char: 0;
  $transform: none;
  $weight: regular;

  @if $variant == bold-6 or $variant == title {
    $size: 48;
    $line: 48;
    $char: 5;
    $transform: uppercase;
    $weight: bold;
  }

  @if $variant == bold-5 {
    $size: 36;
    $line: 48;
    $char: 4;
    $transform: uppercase;
    $weight: bold;
  }

  @if $variant == bold-4 or $variant == smallTitle {
    $size: 28;
    $line: 36;
    $char: 3;
    $transform: uppercase;
    $weight: bold;
  }

  @if $variant == subTitle {
    $size: 32;
    $line: 32;
    $char: 2.5;
  }

  @if $variant == smallerTitle {
    $size: 18;
    $line: 24;
    $char: 1.5;
    $transform: uppercase;
    $weight: bold;
  }

  @if $variant == preTitle {
    $size: 24;
    $line: 30;
    $char: 2.5;
  }

  @if $variant == linkCaps {
    $size: 18;
    $line: 22;
    $char: 2;
    $transform: uppercase;
  }

  @if $variant == reg-2 {
    $size: 16;
    $line: 24;
    $char: 0;
  }

  @if $variant == reg-1 {
    $size: 12;
    $line: 24;
    $char: 0;
  }

  @include fontSize($size);
  @include lineHeight($line);
  @include letterSpacing($char);
  font-weight: fontWeight($weight);
  text-transform: $transform;
}


@mixin typeSetting($size: $base-font-size, $weight: $base-font-weight, $transform: none) {
  @include type();
}
