<section class="c-blog-list">

  <header class="c-blog-list__header">
    <h1>Related blog posts</h1>
  </header>

  <a href="#" class="c-blog-list__item">

    <div class="c-blog-list__item__body">
      <h2 class="c-blog-list__item__title">Digital Doorposts</h2>
      <p class="c-blog-list__item__meta">Written on <date>2 July 2017</date> by James Doc:</p>

      <p class="c-blog-list__item__teaser">
        These words should be on your heart. You shall teach them diligently... bind them on your hands... write them on your doorposts and gates.
      </p>

      <div class="u-btn" href="#">Read</div>
    </div>

    <div class="c-blog-list__item__image js-object-fit-container">
      <span></span>
      <img src="/assets/img/phi-960.jpg" />
    </div>
  </a>

  <a href="#" class="c-blog-list__item">

    <div class="c-blog-list__item__body">
      <h2 class="c-blog-list__item__title">Different Doorposts</h2>
      <p class="c-blog-list__item__meta">Written on <date>2 July 2017</date> by James Doc:</p>

      <div class="u-btn" href="#">Read</div>
    </div>

  </a>

</section>
