.blog-footer {
  border-top: 1px solid #ccc;
  font-size: 18px;
  margin-top: 20px;
  padding: 20px 10px 10px;
  text-align: center;

  @include bpMinMedium {
    margin-top: 40px;
  }
}

.blog-footer__date {
  display: block;
}

.blog-footer__author__img {
  margin: 0 auto;
  padding-bottom: 100px;
  width: 100px;

  @include bpMinMedium {
    padding-bottom: 150px;
    width: 150px;
  }
}

.blog-footer__author__name {
  margin: 0;
}

.blog-footer__author__description {
  font-size: 14px;
}
