<section class="c-church-value c-church-value--{{ modifier }}">

  <div class="c-church-value__background">
    <img src="{{ img[320] }}" alt="" class="c-church-value__background__blur"/>
    <div>
      <img src="{{ img[960] }}" srcset="{% for k,v in img %}{{ v }} {{ k }}w,{% endfor %}" alt="" class="c-church-value__background__img" />
    </div>
  </div>

  <div class="c-church-value__body">
    <div><h1 class="c-church-value__body__title c-church-value__hugged-text"><span class="c-church-value__hugged-text__padded">{{ title }}</span></h1></div>
    <div><p class="c-church-value__body__tag c-church-value__hugged-text">{{ tag }}</p></div>
    <div><p class="c-church-value__body__detail c-church-value__hugged-text">{{ detail }}</p></div>
  </div>
</section>
