<section class="c-podcast-promo">

  <header class="c-podcast-promo__header">
    <svg role="img" class="c-podcast-promo__header__icon">
      <use xlink:href="/assets/svg/svg-symbols.svg#subscribe"></use>
    </svg>
    <h1>Subscribe to the podcast</h1>
  </header>

  <main class="c-podcast-promo__body">
    <img src="/assets/img/blocks/podcast-promo/img/podcast-cover-square.jpg" alt="Podcast artwork" />
    <p class="c-podcast-promo__body__lead">Sermons from The Globe Church</p>
    <p>Get Sunday's sermon in your podcatcher each week…</p>

    <div class="c-podcast-promo__body__list">
      <a href="" class="u-btn c-podcast-promo__body__list--apple">Apple Podcasts</a>
      <a href="" class="u-btn c-podcast-promo__body__list--rss">RSS Feed</a>
      <a href="" class="u-btn c-podcast-promo__body__list--other">More</a>
    </div>
  </main>

</section>
