.m-event-section-link {
  background-color: siteColor(tgc-white);
  column-gap: 1em;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  row-gap: 1em;


  @include bpMinExtraSmall {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  &__block {
    align-items: center;
    background-color: siteColor(petrel);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 150px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-decoration: none;

    @include bpMinExtraSmall {
      min-height: 200px;
    }

    @include bpMinSmall {
      min-height: 256px;
    }

    &:after {
      background: rgba(siteColor(sockeye), .5);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all .3s linear;
      z-index: 0;
    }

    &:nth-child(1):after {
      background: rgba(siteColor(petrel), .5);
    }

    &:nth-child(2):after {
      background: rgba(siteColor(gold-braid), .5);
    }

    &:nth-child(3):after {
      background: rgba(siteColor(lark-green), .5);
    }

    img {
      display: block;
      filter: grayscale(85%);
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      transition: transform .2s;
      width: 100%;
      z-index: 0;
    }

    &:hover {
      & img {
        transform: scale(1.1);
      }

      &:after {
        background: rgba(siteColor(tgc-black), .5);
      }
    }
  }
}

.m-event-section-link__block__title {
  @include type(smallTitle);
  border-bottom: 1px solid siteColor(tgc-white);
  margin-bottom: .4em;
  text-align: center;
  width: 80%;
  z-index: 1;
}

.m-event-section-link__block__subtitle {
  @include type(linkCaps);
  text-align: center;
  z-index: 1;
}

.m-event-section-link__additional-nav {
  color: siteColor(petrel);
  display: inline;
  list-style-type: none;
  text-align: center;

  @include bpMinExtraSmall {
    grid-column: auto / span 3;
  }

  li {
    display: inline;

    a {
      @include type(linkCaps);
      align-items: center;
      color: siteColor(sockeye);
      display: inline-flex;
      margin: 0 10px;

      @include bpMinExtraSmall {
        &:before {
          background: siteColor(sockeye);;
          border-radius: 50%;
          content: "";
          height: 5px;
          margin-left: -15px;
          position: absolute;
          width: 5px;
        }
      }

      &:hover {
        color: siteColor(petrel);
      }
    }

    &:first-child a:before {
      content: none;
    }
  }
}
