.c-main {
  .nav-open & {
    @include bpMaxSmall {
      margin-top: 75px;
    }
    @include bpMaxExtraSmall {
      margin-top: 50px;
    }
  }
}

.site-container {
  margin: 0 auto;
  max-width: bp(large);
  padding: 0 20px;
  position: relative;
  transition: padding .2s;
  width: 100%;

  @include bpMinLarge {
    padding: 0;
  }
}
