.c-icon-list {
  @include unstyledList;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;

  @include bpMinExtraSmall {
    display: flex;
    justify-content: space-around;
  }

  @include bpMinMedium {
    flex-direction: column;
    min-width: 250px;
    text-align: left;
  }

  &--block {
    display: block;
    text-align: left;
  }

  a {
    align-items: center;
    display: inline-flex;
  }

  svg {
    height: 35px;
    margin-right: 10px;
    width: 35px;
  }
}
