.c-icon-list {
  @include unstyledList;
  font-size: 18px;
  text-transform: uppercase;

  @include bpMinSmall {
    display: flex;
    justify-content: space-between;
  }

  @include bpMinMedium {
    flex-direction: column;
    min-width: 250px;
    text-align: left;
  }

  &--block {
    display: block;
    text-align: left;
  }

  &__item {
    font-size: 14px;
    letter-spacing: 2px;
    margin: 10px 0;

    @include bpMinSmall {
      margin: 10px;
      max-width: 33%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @include bpMinMedium {
      margin: 10px 0;
      max-width: inherit;
    }
  }

  a {
    display: inline-flex;
    text-align: left;
    text-decoration: none;
  }


  svg {
    height: 35px;
    margin-right: 10px;
    width: 35px;
  }

  &--small {
    display: inherit;

    li {
      margin: 0;
    }

    svg {
      height: 15px;
      margin-right: 5px;
      width: 15px;
    }
  }
}
