<ul class="c-icon-list{% if modifiers %}{% for m in modifiers %} c-icon-list--{{ m }}{% endfor %}{% endif %}">
  {% for item in list %}
  <li class="c-icon-list__item">
    {% if item.href %}<a href="{{ item.href }}" class="u-link u-link--arrowed u-link--black js-audio-start-link">{% endif %}

      <svg role="img" class="c-icon-list__item__icon">
        <use xlink:href="/assets/svg/svg-symbols.svg#{{ item.icon }}"></use>
      </svg>

      <span>
        {{ item.text }}
      </span>
    {% if item.href %}</a>{% endif %}
  </li>
  {% endfor %}
</ul>
